
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.heading{
  font-family: 'Pacifico', cursive;
  font-size: 35px;
}
.container{
  height: 200px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle,.right{
  width: 120px;
}
.switch{
  padding: 5px;
  margin-top: 55px;
  border-radius: 50%;
  cursor: pointer;
}
.result{
  box-sizing: border-box;
  width: 800px;
  margin-left: 70px;
}
button{
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid forestgreen;
  background-color: rgb(226, 252, 184);
  cursor: pointer;
}

p{
  font-size: 30px;
}
